<div id="<%= dom_id lineitem %>">
  <p>
    <strong>Quantity:</strong>
    <%= lineitem.quantity %>
  </p>

  <p>
    <strong>Product:</strong>
    <%= lineitem.product_id %>
  </p>

  <p>
    <strong>Budget:</strong>
    <%= lineitem.budget_id %>
  </p>

</div>
