<div id="<%= dom_id lineitem %>">
  <div class="budget-image">
    <%# AGREGAR PATH DE IMAGEN %>
  </div>
  <div class="budget-info">
    <div class="budget-card-description">
      <div>
        <p><%= lineitem.product.name %></p>
      </div>
      <div>
        <img src="" alt="cross" />
      </div>
    </div>
    <div class="price-container">
      <div class="p-p-container-vp">
        <%= lineitem.quantity %>
      </div>
      <%= number_to_currency(lineitem.product.price, unit: '$', precision: 2, delimiter: '.', separator: ',') %>
      <span class="delete-sp">Eliminar</span>
    </div>
  </div>
</div>