<section class="section-ver-presupuesto">
  <%= render partial: 'shared/header', locals: { view: false } %>
  <h1>Add product</h1>

  <%= render "form", lineitem: @lineitem %>

  <br>

  <div>
    <%= link_to "Back to budgets", budgets_path %>
  </div>
</section>
