<div id="<%= dom_id budget %>">
  <p>
    <strong>Description:</strong>
    <%= budget.description %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= budget.name %>
  </p>

  <p>
    <strong>User:</strong>
    <%= budget.user_id %>
  </p>

</div>
