<%= form_with(model: @budget) do |form| %>
  <!-- Otras partes del formulario -->

  <div class="lineitem-fields">
    <div>
      <%= form.label :product_id, "Product", style: "display: block" %>
      <%= form.collection_select :product_id, Product.all, :id, :name, prompt: "Select a product" %>
    </div>

    <!-- Otros campos del formulario de lineitem -->

    <%= link_to "Remove lineitem", "#", class: "remove_fields", remote: true %>
  </div>

  <!-- Otros elementos del formulario -->

<% end %>