<section class="section-ver-presupuesto">
    <%= render partial: 'shared/header', locals: { view: false } %>
    <p style="color: green"><%= notice %></p>
    <div class="see-budget-title">
        <h1>Ver presupuesto</h1>      
        <%= button_to "Eliminar", @budget, method: :delete, class: "quit-budget", form: { data: {'turbo-confirm': '¿Estás seguro de que quieres eliminar este presupuesto?'} } %>
    </div>
    
    <%= render "form", budget: @budget %>
    
</section>