<section class="section-ver-presupuesto">
    <%= render 'shared/header'%>
    <p style="color: green"><%= notice %></p>

    <h1>Ver presupuesto</h1>
    <%= render "form", budget: @budget %>
</section>