<p style="color: green"><%= notice %></p>

<%= render @budget %>

<div>
  <%= link_to "Back", :budgets, class: "btn-log-in" %>
  <%= button_to "Eliminar", @budget, method: :delete, class: "quit-budget", form: { data: {'turbo-confirm': '¿Estás seguro de que quieres eliminar este presupuesto?'} } %>

</div>
