<!-- Navbar -->
<header>
	<nav class="nav-desktop">
				<img class="logo-burger" src="./img/logos/burger.png" alt="" />
				<%= image_tag 'img/logos/logo-white.svg', alt:"logo" %>
				<img class="budget-logo" src="./img/logos/presup.png" alt="" />
				<%= link_to "Volver", :root, class: "back-button" %>
			</nav>
	<!-- Navbar mobile -->
	<nav class="nav">
		<div class="nav__container">
			<h1 class="nav__title">Electrohouse</h1>
			<%= link_to "<--", :root, class: "back-button" %>
		</div>
	</nav>
</header>