<%= render 'shared/header' %>
<h1>Welcome to Electrohous!</h1>

<h2>Products</h2>
<% @products.each do |product| %>
    <%= render partial: 'products/product', locals: { product: product } %>
<% end %>