<%= render 'shared/header' %>
<h1>Welcome to Electrohouse!</h1>

<h2>Products</h2>
<div class="card-container">
    <% @products.each do |product| %>
        <%= render partial: 'products/product', locals: { product: product } %>
    <% end %>
</div>
<h2>Categories</h2>
    <% @categories.each do |category| %>
        <%= render partial: 'categories/category', locals: { category: category }%>
    <% end %>
