.back-button {
    display: block;
    width: 38px;
    height: 30px;
    border-radius: 50px;
    background-color: white;
    color: #000e8d;
    border: none;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}