.section-mi-cuenta{
	& {
		* {
			margin: 0;
			padding: 0;
			box-sizing: border-box;
			font-family: "Montserrat", sans-serif;
		}
		
		.nav-desktop {
			display: none;
		}
		
		/* Navbar */
		
		.nav {
			background-color: #000e8d;
			--img1: scale(1);
			--img2: scale(0);
		}
		.nav-searchbar {
			display: none;
		}
		
		.nav:has(.dropdown:target) {
			--img1: scale(0);
			--img2: scale(1);
			--clip: inset(0 0 0 0);
		}
		
		.nav__container {
			width: 90%;
			margin: 0 auto;
			height: 70px;
			display: grid;
			grid-template-columns: max-content max-content;
			grid-template-areas: "title img";
			justify-content: space-between;
			align-items: center;
		
			overflow: hidden;
		}
		
		.nav__title {
			color: #fff;
			grid-area: title;
		}
		
		.nav__menu {
			grid-area: img;
			position: relative;
			z-index: 10;
		
			transform: var(--img1);
		}
		
		.nav__menu--second {
			transform: var(--img2);
		}
		
		.nav__icon {
			width: 30px;
			display: block;
		}
		
		.dropdown {
			position: absolute !important;
			background-color: #fffafa;
			width: 75%;
			max-width: 300px;
			height: 500px;
			right: 0;
			top: 0;
			bottom: 0;
			padding: 1em;
			z-index: 3;
			display: grid;
			align-content: center;
			gap: 1rem;
			overflow-y: auto;
			clip-path: var(--clip, inset(0 0 100% 100%));
			transition: clip-path 0.5s;
			border: 1px solid #ccc;
			border-radius: 5px;
			box-shadow: 2px 2px 4px 2px rgba(0, 0, 0, 0.5);
		}
		
		.dropdown__list {
			list-style: none;
		}
		
		.dropdown__link {
			color: rgb(63, 63, 63);
			padding: 1em 0.7em;
			text-decoration: none;
			font-weight: 500;
			display: flex;
			align-items: center;
			justify-content: center;
			gap: 0.6rem;
			position: relative;
			background-color: var(--bg, transparent);
			border-radius: 6px;
			border-bottom: 1px solid #ccc;
		}
		
		.dropdown__list:has(:checked) {
			--rows: 1fr;
			--rotate: rotate(180deg);
			--bg: #28303b;
		}
		
		.dropdown__check {
			position: absolute;
			width: 100%;
			height: 100%;
			opacity: 0;
			cursor: pointer;
			text-align: center;
		}
		
		.dropdown__arrow {
			margin-left: auto;
			transform: var(--rotate, 0);
			transition: 0.2s transform;
		}
		
		.dropdown__content {
			display: grid;
			grid-template-rows: var(--rows, 0fr);
			transition: 0.3s grid-template-rows;
		}
		
		.dropdown__sub {
			overflow: hidden;
		}
		
		.dropdown__li {
			width: 85%;
			list-style: none;
			margin-left: auto;
		}
		
		.dropdown__anchor {
			padding: 1em 0;
			display: block;
			color: #b6babe;
			text-decoration: none;
		}
		
		.dropdown-categorys {
			display: flex;
			justify-content: center;
			align-items: center;
		}
		
		.img-logo {
			display: flex;
			justify-content: center;
			align-items: center;
		}
		
		// .back-button {
		// 	display: none;
		// }
		
		/* Form */
		.my-account-cointainer {
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			gap: 30px;
		}
		
		.my-account-cointainer h1 {
			margin-top: 30px;
			font-size: 1.2rem;
			font-weight: 600;
			color: #000e8d;
			text-align: center;
		}
		
		.my-account-budgets {
			width: 75%;
			height: 100px;
			background-color: #f32ddf;
			border-radius: 5px;
			display: flex;
			align-items: center;
			justify-content: center;
			text-decoration: none;
			color: white;
		
			transition: background-color 0.3s ease;
		}
		
		.my-account-budgets:hover {
			background-color: #a52ed1; /* Cambia el color al pasar el cursor sobre el botón */
		}
		
		.my-account-budgets p {
			text-align: center;
			// padding-top: 40px;
			// color: white;
			// font-weight: 400;
		}
		
		form div {
			display: flex;
			flex-direction: column;
			margin: 2px 0px;
			gap: 10px;
			align-items: center;
		}
		
		form div label {
			font-weight: 500;
			font-size: 0.9rem;
		}
		
		input[type="text"] {
			width: 280px;
			height: 40px;
			border: 1px solid #000e8d;
			border-radius: 5px;
		}
		
		.form-buttons {
			display: flex;
			flex-direction: row;
			justify-content: center;
		}
		
		input[type="submit"] {
			color: #000e8d;
			width: 140px;
			font-size: 1rem;
			padding: 5px 20px;
			border: 1px solid #000e8d;
			border-radius: 50px;
			background-color: white;
			margin: 20px 0px;
		}
		
		input[type="email"] {
			width: 400px;
			height: 40px;
			border: 1px solid #000e8d;
			border-radius: 5px;
		}
		
		input[type="text"] {
			width: 400px;
			height: 40px;
			border: 1px solid #000e8d;
			border-radius: 5px;
		}
		
		input[type="password"] {
			width: 400px;
			height: 40px;
			border: 1px solid #000e8d;
			border-radius: 5px;
		}

		.form-buttons input[type="submit"]:first-child {
			background-color: #000e8d;
			color: white;
		}
		
		/* TABLET */
		@media screen and (min-width: 768px) {
			/* Navbar */
			.nav-desktop {
				padding: 5px 0px;
				background-color: #000e8d;
				display: flex;
				justify-content: space-around;
				align-items: center;
			}
			.nav {
				display: none;
			}
			/* Navbar */
			.logo-burger {
				display: none;
			}
			.budget-logo {
				display: none;
			}
			.back-button {
				display: block;
				width: 100px;
				height: 30px;
				border-radius: 50px;
				background-color: white;
				color: #000e8d;
				border: none;
				font-weight: 600;
				display: flex;
				justify-content: center;
				align-items: center;
				text-decoration: none;
			}
			
			.back-logout {
				color: #000e8d;
				width: 140px;
				font-size: 1rem;
				padding: 5px 20px;
				border: 1px solid #000e8d;
				border-radius: 50px;
				background-color: white;
				margin: 20px 0px;
				display: flex;
				font-weight: 600;
				justify-content: center;
				align-items: center;
				text-decoration: none;
			}

			/* Form */
			.my-account-budgets {
				width: 60%;
			}
			input[type="text"] {
				width: 400px;
			}
		}
		
		/* DESKTOP */
		@media screen and (min-width: 993px) {
			/* Navbar */
			nav {
				justify-content: space-between;
				padding: 0px 40px;
			}
		
			/* Form */
			.my-account-budgets {
				width: 30%;
			}
			.form-container {
				margin-top: 30px;
				display: flex;
				flex-direction: row;
				gap: 30px;
			}
		
			.form-buttons {
				margin-top: 20px;
				justify-content: flex-end;
			}
		}		
	}
}