.section-ver-presupuesto{
	& {
		* {
			margin: 0;
			padding: 0;
			box-sizing: border-box;
			font-family: "Montserrat", sans-serif;
		}

		h1{
			text-align: center;
			color: #000e8d;
			font-size: 1.5rem;
			margin-top: 1rem;
		}
		
		/* Navbar */
		.nav-desktop {
			display: none;
		}
		
		/* Navbar */
		
		.nav {
			background-color: #000e8d;
			--img1: scale(1);
			--img2: scale(0);
		}
		.nav-searchbar {
			display: none;
		}
		
		.nav:has(.dropdown:target) {
			--img1: scale(0);
			--img2: scale(1);
			--clip: inset(0 0 0 0);
		}
		
		.nav__container {
			width: 90%;
			margin: 0 auto;
			height: 70px;
			display: grid;
			grid-template-columns: max-content max-content;
			grid-template-areas: "title img";
			justify-content: space-between;
			align-items: center;
		
			overflow: hidden;
		}
		
		.nav__title {
			color: #fff;
			grid-area: title;
		}
		
		.nav__menu {
			grid-area: img;
			position: relative;
			z-index: 10;
		
			transform: var(--img1);
		}
		
		.nav__menu--second {
			transform: var(--img2);
		}
		
		.nav__icon {
			width: 30px;
			display: block;
		}
		
		.dropdown {
			position: absolute !important;
			background-color: #fffafa;
			width: 75%;
			max-width: 300px;
			height: 500px;
			right: 0;
			top: 0;
			bottom: 0;
			padding: 1em;
			z-index: 3;
			display: grid;
			align-content: center;
			gap: 1rem;
			overflow-y: auto;
			clip-path: var(--clip, inset(0 0 100% 100%));
			transition: clip-path 0.5s;
			border: 1px solid #ccc;
			border-radius: 5px;
			box-shadow: 2px 2px 4px 2px rgba(0, 0, 0, 0.5);
		}
		
		.dropdown__list {
			list-style: none;
		}
		
		.dropdown__link {
			color: rgb(63, 63, 63);
			padding: 1em 0.7em;
			text-decoration: none;
			font-weight: 500;
			display: flex;
			align-items: center;
			justify-content: center;
			gap: 0.6rem;
			position: relative;
			background-color: var(--bg, transparent);
			border-radius: 6px;
			border-bottom: 1px solid #ccc;
		}
		
		.dropdown__list:has(:checked) {
			--rows: 1fr;
			--rotate: rotate(180deg);
			--bg: #28303b;
		}
		
		.dropdown__check {
			position: absolute;
			width: 100%;
			height: 100%;
			opacity: 0;
			cursor: pointer;
			text-align: center;
		}
		
		.dropdown__arrow {
			margin-left: auto;
			transform: var(--rotate, 0);
			transition: 0.2s transform;
		}
		
		.dropdown__content {
			display: grid;
			grid-template-rows: var(--rows, 0fr);
			transition: 0.3s grid-template-rows;
		}
		
		.dropdown__sub {
			overflow: hidden;
		}
		
		.dropdown__li {
			width: 85%;
			list-style: none;
			margin-left: auto;
		}
		
		.dropdown__anchor {
			padding: 1em 0;
			display: block;
			color: #b6babe;
			text-decoration: none;
		}
		
		.dropdown-categorys {
			display: flex;
			justify-content: center;
			align-items: center;
		}
		
		.img-logo {
			display: flex;
			justify-content: center;
			align-items: center;
		}
		
		// .back-button {
		// 	display: none;
		// }
		
		.add-product {
			text-align: center;
			font-size: 0.8rem;
			margin-top: 2px;
			font-weight: 600;
		}
		
		/* Searchbar */
		.search-container {
			height: 80px;
			background-color: white;
		}
		.input-search-container {
			position: relative;
			width: 90%;
			margin: 0 auto;
			margin-top: 40px;
			height: 45px;
		}
		
		.search-icon {
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
			left: 250px;
			cursor: pointer;
			width: 30px;
		}
		
		.search-input {
			padding-left: 30px;
			width: 100%;
			height: 45px;
			border: 1px solid #000e8d;
			box-shadow: 2px 2px 5px rgba(0, 14, 141, 0.1);
			border-radius: 50px;
		}
		
		/* Presupuestos */
		
		.budgets {
			width: 97%;
			height: 550px;
			border: 1px solid rgba(0, 14, 141, 0.2);
			border-radius: 5px;
			margin: 10px 5px;
			padding-top: 20px;
		}
		.first-budget {
			border-top: 1px solid rgb(195, 194, 194);
		}
		
		.add-product p {
			text-align: center;
			color: #3c3838;
			font-weight: 600;
			font-size: 0.9rem;
		}
		
		.budget-title {
			font-size: 1rem;
			color: #3c3838;
		}
		
		.budget-container {
			padding: 30px 20px;
		}
		
		.budget {
			display: flex;
			margin: 0px 5px;
			border-bottom: 1px solid rgb(195, 194, 194);
			height: 110px;
			margin-left: none;
		}
		
		.budget-info {
			margin-left: 40px;
			width: 90%;
		}
		
		.budget-description {
			font-size: 13px;
			padding-top: 10px;
			width: 90%;
		}
		
		.budget-image img {
			margin-top: 15px;
			width: 70px;
			height: 70px;
		}
		
		.budget-card-description {
			margin-top: 10px;
			display: flex;
			align-items: center;
			gap: 20px;
			width: 90%;
		}
		
		.budget-card-description p {
			margin-top: 10px;
			width: 170px;
			font-size: 0.8rem;
		}
		
		.price-container {
			margin-top: 10px;
			display: flex;
			gap: 43px;
			align-items: center;
		}
		
		.p-container {
			display: flex;
			gap: 20px;
			align-items: center;
		}
		
		.price-container span {
			font-weight: 600;
		}
		
		.delete-sp {
			display: none;
		}
		
		.total-price {
			font-weight: 600;
			margin-top: 20px;
			margin-right: 10px;
			text-align: end;
		}
		
		.budget-buttons {
			margin-top: 50px;
			display: flex;
			justify-content: center;
			flex-direction: row-reverse;
			font-size: .8rem;
			text-decoration: none;
			gap: 10px;
		}
		
		.create-budget {
			border-radius: 50px;
			width: 160px;
			height: 35px;
			border: none;
			background-color: #000e8d;
			color: white;
			font-weight: 600;
		}
		
		.quit-budget {
			text-align: center;
			text-decoration: none;
			border-radius: 50px;
			width: 160px;
			height: 35px;
			border: 1px solid #000e8d;
			background-color: #ffffff;
			color: #000e8d;
			font-weight: 600;
			padding: 10px;
		}
		
		/* TABLET */
		@media screen and (min-width: 768px) {
			/* Navbar */
			.nav-desktop {
				padding: 5px 0px;
				background-color: #000e8d;
				display: flex;
				justify-content: space-around;
				align-items: center;
			}
			.nav {
				display: none;
			}
			.logo-burger {
				display: none;
			}
		
			.budget-logo {
				display: none;
			}
		
			.back-button {
				display: block;
				width: 100px;
				height: 30px;
				border-radius: 50px;
				background-color: white;
				color: #000e8d;
				border: none;
				font-weight: 600;
				display: flex;
				justify-content: center;
				align-items: center;
				text-decoration: none;
			}
		
			.budget-title {
				margin-top: 30px;
			}
		
			/* Searchbar */
			.search-input {
				margin-left: 150px;
				width: 400px;
			}
		
			.search-icon {
				left: 500px;
			}
		
			/* Presupuestos */
			.delete-sp {
				display: block;
				font-size: 0.8rem;
				color: rgb(83, 95, 207);
				font-weight: 300;
			}
		
			.budgets {
				margin-top: 50px;
				width: 98%;
			}
		
			.budget {
				justify-content: space-around;
				gap: 40px;
				padding: 0px 30px;
			}
		
			.budget-image img {
				margin-top: 30px;
			}
		
			.budget-card-description img {
				display: none;
			}
		
			.budget-card-description p {
				width: 250px;
			}
		
			.budget-info {
				display: flex;
				align-items: center;
				gap: 20px;
				margin-left: 0px;
			}
			.budget-buttons {
				margin-top: 20px;
				
			}
		}
		
		/* DESKTOP */
		@media screen and (min-width: 993px) {
			body {
				height: 1000px;
			}
			.budget-container {
				margin: 10px 465px;
			}
		
			.budget {
				justify-content: space-evenly;
				width: 80%;
				margin-top: none;
				margin-left: 200px;
				border-bottom: none;
				border: 1px solid rgba(0, 14, 141, 0.3);
				border-radius: 5px;
				margin: 0 auto;
			}
		
			.add-product {
				text-align: center;
				margin-top: 50px;
				font-weight: 600;
			}
			.budgets {
				margin: 0 auto;
				width: 50%;
				display: flex;
				flex-direction: column;
				height: 700px;
				gap: 30px;
			}
		
			/* Searchbar */
		
			.search-input {
				margin-left: 160px;
				width: 500px;
			}
		
			.search-icon {
				left: 600px;
			}
		}		
	}
}